* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif; /* Tipografía sencilla y moderna */
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #333; /* Texto oscuro */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Ampliamos el espacio entre imágenes */
    justify-content: center;
    padding: 30px; /* Espacio interior amplio */
}


.gallery-item {
    width: 100%;
    max-width: 400px; /* Tamaño máximo de las imágenes */
    border-radius: 10px;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}
